<%= form_with(model: comment) do |form| %>

  <% if comment.errors.any? %>
    <div class="error_form_message">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ===================== девайс ======================== -->
  <div class="mb-3">
    Author: <b><%= current_user.username %></b>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :author, value: current_user.username %>
  </div> 
  <!-- ======================================================== --> 

  <!-- ===================== добавлено ======================== -->
  <div class="mb-3">
    <%= form.label :commentable_type, class: 'form-label' %>
    <%= form.select :commentable_type, ["Post", "Image"], {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :commentable_id, class: 'form-label' %>
    <%= form.select :commentable_id, @content_id_selector, {}, class: 'form-select' %>
  </div>
  <!-- ======================================================== -->

  <div class="mb-3">
    <%= form.label :body, class: 'form-label' %>
    <%= form.text_area :body, class: 'form-control textarea_medium' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
