<p style="color: green"><%= notice %></p>

<%= render @comment %>
<p>ID: <%= @comment.id %>; Type: <%= @comment.commentable_type %>; TID: <%= @comment.commentable_id %></p>

<div>
  <%= link_to "Back to comments", comments_path %>
  <% if current_user == @comment.user %>
     | <%= link_to "Edit this comment", edit_comment_path(@comment) %>
    <%= button_to "Destroy this comment", @comment, method: :delete %>
  <% end %>
</div>
