<p style="color: green"><%= notice %></p>

<%= render @comment %>
<p>ID: <%= @comment.id %>; Type: <%= @comment.commentable_type %>; TID: <%= @comment.commentable_id %></p>

<div>
  <% if admin? %>
    <%= link_to "Back to comments", comments_path %> | 
  <% end %>
  <% if have_access_to_content?(@comment) %>
    <%= link_to "Edit this comment", edit_comment_path(@comment) %> | 
    <%= button_to "Destroy this comment", @comment, method: :delete, class: 'btn btn-link' %>
  <% end %>
</div>
