<h1 class="text-center">Author: <%= @comment.author %></h1>
<br>
<p class="text-center"><b>Body:</b> <%= @comment.body %></p>
<p class="text-center"><b>ID:</b> <%= @comment.id %>; 
  <b>Type:</b> <%= @comment.commentable_type %>; 
  <b>TID:</b> <%= @comment.commentable_id %>
</p>

<div class="text-center">
  <% if admin? %>
    <%= link_to "Back to comments", comments_path %> | 
  <% end %>
  <% if have_access_to_content?(@comment) %>
    <%= link_to "Edit this comment", edit_comment_path(@comment) %> | 
    <%= button_to "Destroy this comment", @comment, method: :delete, class: 'btn btn-link' %>
  <% end %>
</div>
