<h1 class="text-center">Contents</h1>

<h5 class="text-center">
  <%= link_to "New post", new_post_path %> <%= link_to "New image", new_image_path %>
</h5>

<div>
  <% @contents.each do |content| %>
    <% if content.class == Image %>
      <div class="container">
        <img src="<%= content.url %>" alt="image <%= content.id %>" class="img-fluid img-thumbnail rounded">
      </div>
      <p><%= link_to "Show this image", content %></p>
    <% elsif content.class == Post %>
      <%= render content %>
      <p><%= link_to "Show this post", content %></p>
    <% end %>
  <% end %>
</div>
