<h1 class="text-center"><%= t('.title') %></h1>
<br>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead> 
      <tr> 
        <th><%= t('.name') %></th>
        <th><%= t('.status') %></th> 
        <th>ID</th>
        <th><%= t('.mail') %></th> 
        <th><%= t('.posts') %></th>
        <th><%= t('.images') %></th>
        <th><%= t('.comments') %></th>
      </tr> 
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.username, protected_path(user) %>
          </td>
          <td><%= user.admin ? 'Admin' : 'User' %></td>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.posts.size %></td> 
          <td><%= user.images.size %></td> 
          <td><%= user.comments.size %></td>   
        </tr>
      <% end %>
    </tbody>
  </table>
</div>