<h1 class="text-center"><%= @user.username %> <%= t('.title') %></h1>

<hr>
<h4 class="text-center"><%= @user.username %> <%= t('.posts') %></h4>
<hr>

<div id="posts">
  <% @user.posts.reverse.each do |post| %>
    <br>
    <p class="text-center"><b>Post ID:</b> <%= post.id %></p>
    <p><b><%= t('.content') %></b> <%= post.content %></p>
    <div class="text-center">
      <%= link_to t('links.show_post'), post %> | 
      <%= button_to t('links.destroy_post'), post, method: :delete, class: 'btn btn-link' %>
    </div>
    <br>
    <hr>
  <% end %>
</div>


<h4 class="text-center"><%= @user.username %> <%= t('.images') %></h4>
<hr>

<div id="images">
  <% @user.images.reverse.each do |image| %>
    <br>
    <p class="text-center"><b>Image ID:</b> <%= image.id %>; <b>URL:</b> <%= image.url %></p>
    <div class="container">
      <img src="<%= image.url %>" alt="image <%= image.id %>" class="img-fluid img-thumbnail rounded">
    </div>
    <div class="text-center">
      <%= link_to t('links.show_image'), image %> | 
      <%= button_to t('links.destroy_image'), image, method: :delete, class: 'btn btn-link' %>
    </div>
    <br>
    <hr>
  <% end %>
</div>


<h4 class="text-center"><%= @user.username %> <%= t('.comments') %></h4>
<hr>

<div id="comments">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead> 
        <tr> 
          <th><%= t('.table.comment') %></th> 
          <th>CID</th> 
          <th><%= t('.table.type') %></th> 
          <th>TID</th>
          <th><%= t('.table.delete') %></th> 
        </tr> 
      </thead>
      <tbody>
        <% @user.comments.reverse.each do |comment| %>
          <tr> 
            <td><%= link_to comment.body, comment %></td> <!-- show comment -->
            <td><%= comment.id %></td> 
            <td><!-- show content -->
              <% if comment.commentable %>
                <%= link_to comment.commentable_type, comment.commentable %>
              <% else %>
                <%= comment.commentable_type %><%= t('.table.deleted') %>
              <% end %>
            </td>
            <td><%= comment.commentable_id %></td> 
            <td>
              <%= button_to t('links.destroy_comment'), comment, method: :delete, class: 'btn btn-link'%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>