<h1 class="text-center"><%= @user.username %> content</h1>

<hr>
<h4><%= @user.username %> posts:</h4>
<hr>

<div id="posts">
  <% @user.posts.each do |post| %>
    <p>Post ID: <%= post.id %></p>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>


<hr>
<h4><%= @user.username %> images:</h4>
<hr>

<div id="images">
  <% @user.images.each do |image| %>
    <div class="container">
      <img src="<%= image.url %>" alt="image <%= image.id %>" class="img-fluid img-thumbnail rounded">
    </div>
    <p class="text-center">ID: <%= image.id %>; URL: <%= image.url %></p>
    <p>
      <%= link_to "Show this image", image %>
    </p>
  <% end %>
</div>


<hr>
<h4><%= @user.username %> comments:</h4>
<hr>

<div id="comments">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead> 
        <tr> 
          <th>Коммент(Show)</th> 
          <th>CID</th> 
          <th>Type</th> 
          <th>TID</th>
          <th>Delete</th> 
        </tr> 
      </thead>
      <tbody>
        <% @user.comments.each do |comment| %>
          <tr> 
            <td><%= link_to comment.body, comment %></td> <!-- show comment -->
            <td><%= comment.id %></td> 
            <td><!-- show content -->
              <% if comment.commentable %>
                <%= link_to comment.commentable_type, comment.commentable %>
              <% else %>
                <%= comment.commentable_type %>(deleted)
              <% end %>
            </td>
            <td><%= comment.commentable_id %></td> 
            <td><%= button_to "Destroy this comment", comment, method: :delete, class: 'btn btn-link'%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>