<div id="<%= dom_id post %>">
  <p>
    <strong><%= t('posts.all.author') %></strong>
    <%= post.author %>
  </p>

  <p>
    <strong><%= t('posts.all.content') %></strong>
    <%= post.content %>
  </p>

</div>
