<h1 class="text-center"><%= t('.title') %></h1>

<h5 class="text-center"><%= link_to t('links.new_post'), new_post_path %></h5>

<div id="posts">
  <% @posts.each do |post| %>
    <br><hr><br>
    <p class="text-center"><%= t('posts.all.author') %> <b><%= post.author %></b></p>
    <p><%= post.content %></p>
    <p class="text-center"><%= link_to t('links.show_post'), post %></p>
  <% end %>
</div>

