<p style="color: green"><%= notice %></p>

<h1 class="text-center">Posts</h1>

<h5 class="text-center"><%= link_to "New post", new_post_path %></h5>

<div id="posts">
  <% @posts.each do |post| %>
    <br><hr><br>
    <p class="text-center">Author: <b><%= post.author %></b></p>
    <p><%= post.content %></p>
    <p class="text-center"><%= link_to "Show this post", post %></p>
  <% end %>
</div>

