<p style="color: green"><%= notice %></p>

<p class="text-center">ID: <%= @post.id %></p>
<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>


<!-- ===================== comments _form.html.erb ======================== -->
<h3>New comment</h3>

<%= form_for([@post, @post.comments.build]) do |form| %> <!-- изменил на форму как в рубишколе -->

  <!-- ====== Скрываем поля и подставим значения ======= -->
  <div>
    <%= form.hidden_field :commentable_type, value: 'Post' %>
    <%= form.hidden_field :commentable_id, value: @post.id %>
  </div>
  <!-- ================================================== -->

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>
<!-- ====================================================================== -->


<!-- ===================== Вывод комментов ======================== -->
<h3>All comments</h3>

<% if @post.comments.size < 2 %>
  <h4>Пока еще нет комментариев</h4>
<% end %>

<% @post.comments.each do |comment| %>
  <% if comment.body && comment.body.size > 0 %> <!-- Избавляемся от comments.build -->
    <h6>Author: <%= comment.author %></h6>
    <p>Body: <%= comment.body %></p>
    <hr>
  <% end %>
<% end %>