<%= form_with(model: image) do |form| %>

  <% if image.errors.any? %>
    <div class="error_form_message">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <p><%= t('images.all.author') %> <b><%= current_user.username %></b></p>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :author, value: current_user.username %>
  </div>

  <div class="mb-3">
    <%= form.label :url, t('images.all.url'), class: 'form-label' %>
    <%= form.text_area :url, class: 'form-control textarea_big' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
