<div id="<%= dom_id image %>">
  <p>
    <strong><%= t('images.all.author') %></strong>
    <%= image.author %>
  </p>

  <p>
    <strong><%= t('images.all.url') %></strong>
    <%= image.url %>
  </p>

</div>
