<h1 class="text-center"><%= t('.title') %></h1>

<h5 class="text-center"><%= link_to t('links.new_image'), new_image_path %></h5>

<div id="images">
  <% @images.each do |image| %>
    <br><hr><br>
    <p class="text-center"><%= t('images.all.author') %> <b><%= image.author %></b></p>
    <div class="container">
      <img src="<%= image.url %>" alt="image <%= image.id %>" class="img-fluid img-thumbnail rounded">
    </div>
    <br>
    <p class="text-center"><%= link_to t('links.show_image'), image %></p>
  <% end %>
</div>