<h1 class="text-center">Images</h1>

<h5 class="text-center"><%= link_to "New image", new_image_path %></h5>

<div id="images">
  <% @images.each do |image| %>
    <br><hr><br>
    <p class="text-center">Author: <b><%= image.author %></b></p>
    <div class="container">
      <img src="<%= image.url %>" alt="image <%= image.id %>" class="img-fluid img-thumbnail rounded">
    </div>
    <p class="text-center"><%= link_to "Show this image", image %></p>
  <% end %>
</div>