<!DOCTYPE html>
<html>
  <head lang="<%= I18n.locale %>"> 
    <title>Blog2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8"> <!-- I18n -->

    <%= favicon_link_tag 'favicon.png' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/7599d4c6a9.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="d-flex flex-column min-vh-100">

    <!-- блок для отступа тк шапка фиксед -->
    <div id="offset_header"></div>

    <!-- ===================================================================================== -->
    <!--                                     Шапка  -->
    <!-- ===================================================================================== -->
    <nav class="navbar navbar-expand-xl fixed-top bg-light"> 
      <div class="container">

        <!-- <a class="navbar-brand" href="/">Blog2RailsRubyschool</a> -->
        <%= link_to 'BLOG2RS', root_path, class: 'navbar-brand' %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#content" aria-controls="content" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span><i class="fa fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="content">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if admin? %>
              <li class="nav-item"> 
                <!-- <a class="nav-link" href="/protected">Users list</a> -->
                <%= link_to t('.user_list'), protected_index_path, class: 'nav-link' %>
              </li>
              <li class="nav-item"> 
                <!-- <a class="nav-link" href="/comments">Comments</a> -->
                <%= link_to t('.comments'), comments_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item">
              <!-- <a class="nav-link" href="/posts">Posts</a> -->
              <%= link_to t('.posts'), posts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"> 
              <!-- <a class="nav-link" href="/images">Images</a> -->
              <%= link_to t('.images'), images_path, class: 'nav-link' %>
            </li>   
          </ul>

          <!-- Devise: ссылки входа и выхода -->
          <div class="d-flex header_sign">
            <% if user_signed_in? %>
              <div class="me-3 header_username"><%= current_user.username %></div>
              <div><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %></div>
            <% else %>
              <div class="me-3"><%= link_to t('.sign_in'), new_user_session_path %></div>
              <div><%= link_to t('.sign_up'), new_user_registration_path %></div>
            <% end %>
          </div>

          <!-- Смена языка i18n -->
          <ul class="nav mb-2 mb-md-0">
            <li class="dropdown">
              <button class="btn btn-dark btn-sm dropdown-toggle mt-1 ms-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t I18n.locale %>
              </button>
              <ul class="dropdown-menu">
                <% I18n.available_locales.each do |locale| %>
                  <li>
                    <% if I18n.locale == locale %>
                      <%= tag.span t(locale), class: 'dropdown-item' %>
                    <% else %>
                      <%= link_to t(locale), url_for(locale: locale), class: 'dropdown-item' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>

        </div>

      </div>
    </nav>

    

    <!-- Для флэш сообщений и Девайс и обычные -->
    <h5 class="text-center" id="notice"><%= notice %></h5>
    <!-- Для флэш сообщений Девайс -->
    <h5 class="text-center" id="notice_alert"><%= alert %></h5>



    <div class="container">
      <%= yield %>
    </div>



    <!-- блок для отступа -->
    <div id="offset_footer"></div>

    <!-- ===================================================================================== -->
    <!--                                     Футер  -->
    <!-- ===================================================================================== -->
    <footer class="footer mt-auto py-3 container">
      <div class="row text-center">
        <div class="col-12 social"> <!-- social - наш класс для доп стилей -->       
          <a href="https://rubyschool.us/" target="_blank">RUBYSCHOOL</a>
          <a href="https://telegram.me/rubyschool" target="_blank"><i class="fa fa-telegram"></i></a>
          <a href="https://www.youtube.com/@ads" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>

</html>
